/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*!* Style the form *!*/
/*#regForm {*/
/*    background-color: #ffffff;*/
/*    margin: 100px auto;*/
/*    padding: 40px;*/
/*    width: 70%;*/
/*    min-width: 300px;*/
/*}*/

/*!* Style the input fields *!*/
/*input {*/
/*    padding: 10px;*/
/*    width: 100%;*/
/*    font-size: 17px;*/
/*    font-family: Raleway;*/
/*    border: 1px solid #aaaaaa;*/
/*}*/

/*!* Hide all steps by default: *!*/
/*.tab-add {*/
/*    display: none;*/
/*}*/

/*.tab-suggest {*/
/*    display: none;*/
/*}*/

/*#addOutfitModal .item {*/
/*    display: table-cell;*/
/*    width: 20%;*/
/*    height: 200px;*/
/*    transition: box-shadow .3s;*/
/*    border-radius:10px;*/
/*    border: 1px solid #ccc;*/
/*}*/

.description {
    display: table-row;
}

.item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.modal-content {
    display: table;
}

.item {
    display: table-cell;
    width: 20%;
    height: 200px;
}

.item span {
    vertical-align: center;
    background-color: white;
    border: 2px black solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.3em;

}

.communityOutfit > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.potentialUserOutfit > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.communityOutfit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.potentialUserOutfit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemListContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.itemListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.delete {
    margin-bottom: 10px;
}

#complete-outfits, #incomplete-outfits {
    display: flex;
    flex-wrap: wrap;
}

.outfit {
    border: 1px solid black;
    /*width: 100px;*/
    height: 100%;
    /*max-width: 100%;*/
    display: flex;
    /*flex-direction: row;*/
    /*box-sizing: border-box;*/
    flex-flow: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.outfit-card {
    /*display: flex;*/
    /*flex-flow: column;*/
    /*min-width: 200px;*/
    /*box-sizing: border-box;*/
    height: 12em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-sizing: border-box;
    width: 23%;
    margin: 1%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.outfit-card p {
    width: 50%;
    /*border: black solid 1px;*/
    margin: 0;
    text-align: center;
}

/*.like-wrapper {*/
/*    padding-bottom: 10px;*/
/*    display: flex;*/
/*}*/

.like-wrapper {
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: black solid 1px;
}

.like-button {
    border: none;
    width: 50%;
    outline:none;
}

.like-button.not-liked{
    color: gray;
    background: white;
}

.like-button.liked{
    /*background: #2196F3;*/
    background: none;
    color: #2196F3;
}

.save-button {
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-top: 20px;
    padding: 5px;
}