body {
  font-family: 'Rubik', sans-serif;
}

/* Top navigation */
.top {
  background-color: #666666;
  height: 10%;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 6px -6px #999;
}

#logo {
  max-height: 80%;
  margin-left: 1em;
  float: left;
  margin-right: 1em;
}

#welcome-message {
  position: absolute;
  right: 1em;
}

#welcome-message h3 {
  color: #E6E6E6;
}

.top h1 {
  float: right;
  color: #E6E6E6;
}
.bottom {
  height: 90%;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 10%; /* Stay at the top */
    left: 0;
    background-color: #66CCCC; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
    box-shadow: -3px 0 5px 0 #999;
}

/* The navigation menu links */
.sidenav-tab a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5vw;
    color: #666666;
    display: block;
    padding-left: 0.5em;
}

.sidenav-tab {
  display: flex;
  align-items: center;
  border-top: 1px solid white;
}

.sidenav-tab img {
  width: 10%;
  height: auto;
  margin-left: 0.8em;
  float: left;
}

#first {
  border-top: none;
}

#last {
  border-bottom: 1px solid white;
  margin-bottom: 1em;
}

/* When you mouse over the navigation links, change their color */
.sidenav-tab a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 15%; /* Same as the width of the sidebar */
    /*padding: 0px 10px;*/
    padding: 0.5% 3%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav-tab {
        padding-top: 15px;
    }

    .sidenav-tab a {
        font-size: 18px;
    }
}

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    color: #37474F;
}


.signout-div {
  text-align: center;
}

#signout {
    font-size: 1.5vw;
    color: #666666;
    text-decoration: none;
}

#signout:hover {
    color: white;
    text-decoration: none;
}
