/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

#item-overview {
  margin-top: 2em;
  display: flex;
}

#typePie {
  margin-top: 2em;
  margin-bottom: 2em;
}

#formalityRadar {
  margin-top: 2em;
  margin-bottom: 2em;
}

.chart-container {
  border: 1px solid #ccc;
  border-radius: 10px;
    width: 48%;
    display: inline-block;
    text-align: center;
}

.chart-container h3 {
  margin-left: 20px;
  text-align: left;
}

#chart-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: auto;
}

#chart-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: auto;
}

#colorBox:hover {
    box-shadow: 0 6px 10px -4px #666;
    -moz-box-shadow: 0 6px 10px -4px #666;
    -webkit-box-shadow: 0 6px 10px -4px #666;
}

#colors-container {
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
}

#colors-container h3 {
  text-align: left;
}

#clothingGradient {
    margin-bottom: 2em;
    display: flex;
    width: 98%;
    flex-direction: row;
    box-shadow: 0 4px 4px -4px black;
    -moz-box-shadow: 0 4px 4px -4px black;
    -webkit-box-shadow: 0 4px 4px -4px black;
}


.count {
  text-align: center;
  font-size: 2em;
}

.count h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.label {
  text-align: center;
  font-size: 0.8em;
}

.label h2 {
  margin-bottom: 0.4em;
  margin-top: 0px;
}

#overall {
  display: flex;
  margin-top: 2em;
  margin-bottom: 1em;
}

#item-count {
  background-color: white;
  width: 23%;
  height: 23%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#outfit-count {
  background-color: white;
  width: 23%;
  height: 23%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#type {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
}

#outer-count {
  background-color: white;
  width: 23%;
  height: 23%;
  margin: auto;
  margin-left: 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#top-count {
  background-color: white;
  width: 23%;
  height: 23%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#bottom-count {
  background-color: white;
  width: 23%;
  height: 23%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#shoes-count {
  background-color: white;
  width: 23%;
  height: 23%;
  margin: auto;
  margin-right: 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
