/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

.chart-container {
    margin-top: 10px;
    margin-left: -90px;
    width: 680px;
    display: inline-block;
    /*align-items: flex-start;*/
}

#colorBox:hover {
    box-shadow: 0 6px 10px -4px #666;
    -moz-box-shadow: 0 6px 10px -4px #666;
    -webkit-box-shadow: 0 6px 10px -4px #666;
}

#colors-container {
    margin-top: 4em;
}
#clothingGradient {
    display: flex;
    width: 100%;
    flex-direction: row;
    box-shadow: 0 4px 4px -4px black;
    -moz-box-shadow: 0 4px 4px -4px black;
    -webkit-box-shadow: 0 4px 4px -4px black;
}

.stats {
  text-align: center;
}

#outfit-count {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: yellow;
  vertical-align: middle;
  border: 1px solid black;
  height: 100%;
  width: 10%;
}

.count {
  text-align: center;
  font-size: 3em;
}

.count h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.label {
  text-align: center;
  font-size: 1em;
}

#item-count {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: yellow;
  min-width: 1em;
  vertical-align: middle;
  border: 1px solid black;
  width: 10%;
}
